
@media only screen and (min-width: 820px) {
	.respo {
		
	}
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.respo {
		display: none;
	}
}


@media only screen and (min-width: 820px) {
	.respo-text {
		height: 1340px;
	}
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.respo-text {
		height: 100%;
	}
}


@media only screen and (min-width: 820px) {
	.tile {
		width: 100%;
		min-height: 140px;
		display: inline-block;
		box-sizing: border-box;
		background: #fff;
		text-align: center;
		padding: 20px;
		margin-bottom: 30px;
		box-shadow: 5px 5px 5px #888888;
	}
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.tile {
		width: 100%;
		display: inline-block;
		box-sizing: border-box;
		background: #fff;
		text-align: center;
		padding: 20px;
		margin-bottom: 30px;
		box-shadow: 5px 5px 5px #888888;
	}
}

.tile .title {
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green, .tile.cyan {
	color: #fff;
}
.tile.purple {
	background: #9C27B0;
}
.tile.purple:hover {
	background: #AB47BC;
}
.tile.red {
	background: #E91E63;
}
.tile.red:hover {
	background: #D81B60;
}
.tile.green {
	background: #4CAF50;
}
.tile.green:hover {
	background: #43A047;
}
.tile.blue {
	background: #2196F3;
}
.tile.blue:hover {
	background: #1976D2;
}
.tile.orange {
	background: #FF9800;
}
.tile.orange:hover {
	background: #F57C00;
}
.tile.cyan {
	background: #00BCD4;
}
.tile.cyan:hover {
	background: #00ACC1;
}

/*Rating Boxes*/

.outer-box1 {
	box-sizing: border-box;
	color: rgb(243, 209, 0);
	height: 156px;
	text-align: center;
	margin-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none solid rgb(243, 209, 0);
	background: rgb(255, 255, 255) none repeat scroll 0% 0% /auto padding-box border-box;
	border-top: 1px solid rgb(255, 176, 0);
	border-right: 1px solid rgb(255, 176, 0);
	border-bottom: 5px solid rgb(255, 156, 0);
	border-left: 1px solid rgb(255, 176, 0);
	font: normal normal normal normal 20px /24px "Open Sans", sans-serif;
	outline: rgb(243, 209, 0) none 0px;
	padding: 15px;
	box-shadow: 1px 1px 1px #888888;
}

.star_1 {
	box-sizing: border-box;
	color: rgb(243, 209, 0);
	display: inline-block;
	height: 20px;
	text-align: center;
	text-decoration: none solid rgb(243, 209, 0);
	width: 18.5729px;
	border: 0px none rgb(243, 209, 0);
	font: normal normal normal normal 20px /20px FontAwesome;
	outline: rgb(243, 209, 0) none 0px;
}

#star_1:before {
	box-sizing: border-box;
	color: rgb(243, 209, 0);
	content: '""';
	text-align: center;
	text-decoration: none solid rgb(243, 209, 0);
	text-size-adjust: 100%;
	column-rule-color: rgb(243, 209, 0);
	caret-color: rgb(243, 209, 0);
	border: 0px none rgb(243, 209, 0);
	font: normal normal normal normal 20px /20px FontAwesome;
	outline: rgb(243, 209, 0) none 0px;
}

#box-internal-text {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	height: 56px;
	text-align: center;
	text-decoration: none solid rgb(51, 51, 51);
	text-size-adjust: 100%;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 131.5px 28px;
	transform-origin: 131.5px 28px;
	caret-color: rgb(51, 51, 51);
	border: 0px none rgb(51, 51, 51);
	font: normal normal normal normal 20px /28px "Open Sans", sans-serif;
	margin: 20px 0px;
	outline: rgb(51, 51, 51) none 0px;
}

/*For blocks*/
.block-box {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;  
  background: #ECF0F1;
  border: 0px none rgb(51, 51, 51);
  margin-right: 25px;
  outline: rgb(51, 51, 51) none 0px;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 570px;
}

.block-li{
	font-size: 14px;
	text-align: left;
}

.block-header {
  text-align: center;
  font-family: 'Arva', sans-serif;
}

.block-li {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

